VITE_USERS_SERVICE_URL=http://users:80
VITE_APPLIANCES_SERVICE_URL=http://appliances:80
VITE_FIRE_SAFETY_SERVICE_URL=http://fire_safety:80
VITE_ENERGY_SERVICE_URL=http://energy:80
VITE_SECURITY_SERVICE_URL=http://security_monitoring:80