VITE_USERS_SERVICE_URL=http://localhost:8001
VITE_APPLIANCES_SERVICE_URL=http://localhost:8002
VITE_FIRE_SAFETY_SERVICE_URL=http://localhost:8003
VITE_ENERGY_SERVICE_URL=http://localhost:8004
VITE_SECURITY_SERVICE_URL=http://localhost:8006